.img-article {
    width: 100%;
}
.like-span {
    display: flex;
    justify-content: space-between;
}

/* .date-span {
    display: ;
    padding: 0 0.75rem;
    margin-bottom: 1rem;
} */
.heart-like {
    margin-left: 2px;
}

.main-article {
    padding: 0 0.75rem;
    margin-top: 1rem;
}

.author-span {
    display: flex;
    justify-content: flex-end;
}
