:root {
    /* colors */
    --bg-color: white;
    --txt-color: #2b2b2b;
    --author-color: #535455;
    --likes-color: #de2f2f;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}
button:focus,
input:focus {
    outline: none;
}
