header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    position: sticky;
}

.logo {
    width: 90vw;
    margin: 1rem;
    max-width: 500px;
    cursor: pointer;
}

.home {
    text-decoration: none;
    cursor: pointer;
}
