header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    position: sticky;
}

.logo {
    width: 90vw;
    margin: 1rem;
    max-width: 800px;
}

.home {
    text-decoration: none;
    cursor: pointer;
}

/* .line-header {
    color: var(--txt-color);
    width: 80vw;
    margin-bottom: 1rem;
} */
