body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
}

.title-div {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    max-width: 500px;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    max-width: 500px;
}

.article-info {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.article-sub-header {
    height: 100%;
    display: flex;
}

.img-preview {
    width: 50%;
    height: 100%;
}

.img-preview-item {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.likes {
    color: var(--likes-color);
    font-family: var(--p-font);
    height: 1rem;
    margin-bottom: 0.5rem;
}

.read-more-btn {
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 0;
    border: 2px solid var(--txt-color);
    padding: 0.5rem 1rem;
    background: none;
}
.read-more {
    font-size: 1rem;
    font-family: var(--p-font);
    color: var(--txt-color);
    text-decoration: none;
    height: 100%;
    width: 100%;
}
.read-more-btn:hover {
    cursor: pointer;
    background: var(--txt-color);
    color: white;
    transition: 0.3s ease;
}

.divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
    color: var(--txt-color);
}
