@media only screen and (min-width: 1150px) {
    section {
        width: 35vw !important;
        padding: 0 2rem !important;
    }
    .main-index {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
}

@media only screen and (min-width: 750px) {
    .content {
        columns: 2;
    }
}
